.todoListMain .header input {
    padding: 10px;
    font-size:2px solid #FFF;
    width: 165px;
}

.todoListMain .header button {
    padding:10px;
    font-size:18px;
    margin:10px;
    margin-right:0px;
    background-color:aqua;
    color:#FFF;
    font-weight: bold;
    border:2px solid #0066FF;

}
.todoListMain .header button:hover {
   background-color : #003399;
   border: 2px solid #003399;
   cursor:pointer;
}
.todoListMain .theList li {
    color : #333;
    background-color: rgba(255, 255, 255,.5);
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
    list-style: none;
    transition:background-color .2s ease-out;
}
.todoListMain .theList li:hover{
    background-color: pink;
    cursor: pointer;
}
ul.theList{
    padding:0;
}
.todoListMain .todoInitial1 {
    color : #333;
    background-color: rgba(255, 255, 255,.5);
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
    list-style: none;
    transition:background-color .2s ease-out;
}
.todoListMain .todoInitial2 {
    color : #333;
    background-color: rgba(255, 255, 255,.5);
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
    list-style: none;
    transition:background-color .2s ease-out;
}
.todoListMain .todoInitial3 {
    color : #333;
    background-color: rgba(255, 255, 255,.5);
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
    list-style: none;
    transition:background-color .2s ease-out;
}
.todoListMain .todoInitial1:hover{
    background-color: pink;
    cursor: pointer;
}
.todoListMain .todoInitial2:hover{
    background-color: pink;
    cursor: pointer;
}
.todoListMain .todoInitial3:hover{
    background-color: pink;
    cursor: pointer;
}



.todoListMain .header .heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-right: -5px;
    color: whitesmoke;

}