@import url('https://fonts.googleapis.com/css?family=Carter+One|Rambla');

*{
  margin: 0;
  padding:0;
  background: rgb(213, 241, 245);
}

.header{
  font-family: 'Carter One', cursive;
  text-align: center;
  font-size: 40px;
  margin:30px;
}

.users{
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;
  justify-content: center;
}

li{
  flex:0 0 15%;
  list-style: none;
}

.username{
  font-family: 'Rambla', sans-serif;
  font-size:20px;
  margin:10px;
  text-align: center;
}

.pics{
  width: 120px;
}

.search-input{
  padding:8px;
  border: 2px inset white;
}

.btn{
  background: rgb(146, 229, 240);
  font-weight: bold;
  border: 2px outset white;
}

.search{
  text-align: center;
  margin:20px 0 35px 0;
}