body {
    margin: 0;
    padding: 0;
    background-color: deeppink;
}
header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    background:  linear-gradient(90deg, rgb(19, 221, 63) 0%, rgb(35, 13, 134) 9%, rgba(255,0,221,1) 32%, rgba(0,183,255,1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
}
.container{
    text-align: center;
    width: 100%;
}
.container input {
    margin-bottom: 0px;
    width: 15%;
    padding: 12px 20px;
    margin: 80px 0px 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100px;   
    box-sizing: border-box;
}
.container button {
    width: 10%;
    padding: 12px 20px;
    margin: 30px 0px 10px 10px;
    display: inline-block;
    border: 4px solid rgba(93, 165, 207, 0.623);
    border-radius: 100px;   
    box-sizing: border-box;
    color: rgb(73, 58, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color:  rgb(69, 238, 238);;
}
#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}
.container_one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-top: 10px solid rgb(224, 150, 39);
    border-left:10px solid rgb(224, 150, 39);
    border-right: none;
    border-bottom: 10px solid rgb(224, 150, 39);
}

.container_two {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:  10px solid rgb(224, 150, 39);;
    border-left: none;
    border-right: 10px solid rgb(224, 150, 39);
    border-bottom: 10px solid rgb(224, 150, 39);
    width: 300px;
    height: 300px;
}
#win_result {
    position: absolute;
    top: 130px;
    color:deeppink;
    width: 150px;
    font-size: 25px;    
    background-color: rgb(223, 152, 86);
}
p {
    font-size: 25px;
}
.img{
    z-index: 1  ;
}