* {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('abc.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: 'Montserrat', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  padding-top: 10px;
  margin-top: 0px;
  text-align: center;
  animation: popin 0.8s;
}

@keyframes popin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.todos {
  width: 400px;
  min-height: 130px;
  margin: 10px;
  background-color: rgb(220, 237, 240);
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 6px -3px #777;
  -moz-box-shadow: 0 10px 6px -3px #777;
  box-shadow: 0 10px 6px -3px #777;
  opacity: 0.7;
  animation: popin 0.8s;
}

.firstLi {
  margin-top: 7%;
}

.ActionBtn {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 20px 20px;
  justify-items: center;
}

/* .ActionBtn .edit {
  margin-top: 0;
  height: 2em;
} */

li {
  padding: 5px;
  list-style: none;
  text-align: center
}

#mainContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-items: center;
}

#form {
  width: 300px;
  background-color: rgb(220, 237, 240);
  opacity: 0.7;
  margin-top: 50px;
  height: 20vh;
  border-radius: 10px;
  text-align: center;
  animation: popin 0.8s;
}

.input {
  text-align: center;
  background-color: white;
  width: 250px;
  height: 25px;
  margin: 5%;
}

#form .label {
  top: 40px
}

#form .button {
  height: 3vh;
  width: 5vw;
  border-radius: 5px;
}

#editBtn, #deleteBtn {
  height: 3vh;
  width: 8vw;
  border-radius: 5px;
}